:root {
    /*********************************** ALL COLORS ***********************************/
    
    /* ALL */
    --white:#fff;
    --black:#242424;
    --gris1:#F6F6F6;
    --gris2:#F2F2F2;
    --gris3:#E5E5E5;
}